.site-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.site-title img {
  height: 1em;
}

header.post-header {
  display: none;;
}

.post-list li :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

.site-header {
  z-index: 2;
}